<h3><%= @use_case.name %></h3>
<%= link_to 'Test Plans', plans_path %>
> <%= link_to @use_case.plan.name, plan_path(@use_case.plan) %>

<div id="step_list">
  <%= render :partial => 'steps/step_list' %>
</div>
<br/>

<%= sortable_element 'sort_step_list',
      :url => update_step_order_use_case_path(@use_case), 
      :method => :put %>

<% remote_form_for(Step.new) do |f| %>
  <table>
  <tr><th>Action</th><th>Verify</th></tr>
  <tr>
    <td><%= f.text_area :description, {:cols => 30, :rows => 10} %></td>
    <td><%= f.text_area :verify, {:cols => 30, :rows => 10}%></td>
  </tr>
  <tr><td align="right" colspan="2"><%= submit_tag 'Add Step' %></td></tr>
  </table>
  <br/>
  <%= f.hidden_field :use_case_id, {:value => @use_case.id} %>
<% end %>


<%= link_to 'Edit', edit_use_case_path(@use_case) %>
<%= link_to 'Destroy', @use_case, :confirm => 'Are you sure?', :method => :delete %>

<br/><br/>

<% form_for(@use_case) do |f| %>
  <%= f.hidden_field :run_result, {:value => UseCase::PASS_RESULT } %>
  <%= f.submit "Mark Test Passed" %>
<% end %>

<% form_for(@use_case) do |f| %>
  <%= f.hidden_field :run_result, {:value => UseCase::FAIL_RESULT } %>
  <%= f.submit "Mark Test Failed" %>
<% end %>
