<h3><%= @use_case.name %></h3>
<%= link_to 'Test Plans', plans_path %>
> <%= link_to @use_case.plan.name, plan_path(@use_case.plan) %>

<div id="step_list">
  <%= render :partial => 'steps/step_list' %>
</div>
<br/>

<%= sortable_element 'sort_step_list',
      :url => update_step_order_use_case_path(@use_case), 
      :method => :put %>

<div id="add_step">
  <%= render :partial => 'steps/add_step' %>
</div>


<%= link_to 'Edit', edit_use_case_path(@use_case) %>
<%= link_to 'Destroy', @use_case, :confirm => 'Are you sure?', :method => :delete %>

<br/><br/>

<% form_for(@use_case) do |f| %>
  <%= f.hidden_field :run_result, {:value => UseCase::PASS_RESULT } %>
  <%= f.submit "Mark Test Passed" %>
<% end %>

<% form_for(@use_case) do |f| %>
  <%= f.hidden_field :run_result, {:value => UseCase::FAIL_RESULT } %>
  <%= f.submit "Mark Test Failed" %>
<% end %>
