<h3><%= @use_case.plan.name %> - <%= @use_case.name %></h3>

<div id="step_list">
  <%= render :partial => 'steps/step_list' %>
</div>
<br/>

<%= sortable_element 'sort_step_list',
      :url => use_case_path(@use_case), 
      :method => :put %>

<% remote_form_for(Step.new) do |f| %>
  <table>
  <tr><th>Action</th><th>Verify</th></tr>
  <tr>
    <td><%= f.text_area :description, {:cols => 30, :rows => 10} %></td>
    <td><%= f.text_area :verify, {:cols => 30, :rows => 10}%></td>
  </tr>
  <tr><td align="right" colspan="2"><%= submit_tag 'Add Step' %></td></tr>
  </table>
  <br/>
  <%= f.hidden_field :use_case_id, {:value => @use_case.id} %>
<% end %>


<%= link_to 'Edit', edit_use_case_path(@use_case) %> |
<%= link_to 'Back', plan_path(@use_case.plan) %>
