<% remote_form_for(@step) do |f| %>
      <span class="step-number">
          <%= @step.position%>.
      </span>
      <%= f.text_area :description, {:rows => 10,:value => @step.description} %>
      <span style="width:20px"></span>
      <%= f.text_area :expected, {:rows => 10,:value => @step.expected} %>
      <span class="step-controls" style="text-align: left;">
      <%= submit_tag 'Save step' %> or
      <%= link_to_remote('Cancel',
            :url => step_path(@step),
            :method => :get) %>
      </span>
<% end %>
