<% remote_form_for(@step) do |f| %>
    <div style="background:#eee;border: 1px solid #000; padding: 4px;">
      <span class="step-number">
          <%= @step.position%>.
      </span>
      <span class="editable-content">
            <%= f.text_area :description, 
                  {:rows => 10,:value => @step.description} %>
      </span>
      <span class="editable-content">
            <%= f.text_area :expected, 
                  {:rows => 10,:value => @step.expected} %>
      </span>
      <span class="step-controls">
          <%= submit_tag 'Save' %> or
          <%= link_to_remote('Cancel',
                             :url => step_path(@step),
                             :method => :get) %>
      </span>
    </div>
    <div style="height:5px;"></div>
<% end %>
