<% remote_form_for(@step) do |f| %>
      <span class="step-number">
          <%= @step.position%>.
      </span>
      <% @step_height = step_height(@step) %>
      <%= f.text_area :description, 
          {:id => "edit_step_description_#{@step.id}",
           :value => @step.description} %>
      <span style="width:20px"></span>
      <%= f.text_area :expected, 
          {:id => "edit_step_expected_#{@step.id}",
           :value => @step.expected} %>
      <br/>
      <span class="step-number"></span>
      <%= submit_tag 'Save step', :class => "button" %> or
      <%= link_to_remote('Cancel',
            :url => step_path(@step),
            :method => :get) %>
<% end %>
<script type="text/javascript">
  new ResizingStep($('edit_step_description_<%=@step.id%>'),
                   $('edit_step_expected_<%=@step.id%>'));
</script>
