<div>
<%= form_for([@step.scenario, Step.new], 
     :remote => true,
     :html => {:id => "insert_step_#{@step.id}", 
               :class => "step-insert", :style=> "display:none;"}) do |f| %>
  <div>
    <span class="step-number">&nbsp;</span>
    <%= f.text_area :description, 
        {:id => "insert_step_description_#{@step.id}"} %>
    <%= f.text_area :expected, 
        {:id => "insert_step_expected_#{@step.id}"}%>
    <%= f.hidden_field :position, 
        {:id => "insert_step_position_#{@step.id}", 
         :value => (@step.position + 1)}%>
  </div>
  <div>
    <span class="step-number">&nbsp;</span>
    <%= submit_tag 'Add this step', :class => "button" %>
    or 
    <a href="#" onclick="closeInsertStep<%=@step.id%>(); return false;">Close</a>
    <script type="text/javascript">
      function closeInsertStep<%=@step.id%>() {
        $("#insert_step_<%=@step.id%>").slideUp(250);
        $("#insert_step_description_<%=@step.id%>").val("");
        $("#insert_step_expected_<%=@step.id%>").val("");
      }
    </script>
  </div>
<% end %>
<script type="text/javascript">
  new ResizingStep("insert_step_description_<%=@step.id%>",
                   "insert_step_expected_<%=@step.id%>");
</script>
</div>
