<div>
<% form_for([@step.scenario, Step.new], 
     :remote => true,
     :html => {:id => "insert_step_#{@step.id}", 
               :class => "step-insert", :style=> "display:none;"}) do |f| %>
  <div>
    <span class="step-number">&nbsp;</span>
    <%= f.text_area :description, 
        {:id => "insert_step_description_#{@step.id}"} %>
    <%= f.text_area :expected, 
        {:id => "insert_step_expected_#{@step.id}"}%>
    <%= f.hidden_field :position, 
        {:id => "insert_step_position_#{@step.id}", 
         :value => (@step.position + 1)}%>
  </div>
  <div>
    <span class="step-number">&nbsp;</span>
    <%= submit_tag 'Add this step', :class => "button" %>
    or 
<%= 
    link_to_function('Close') do |page|
      page["insert_step_#{@step.id}"].visual_effect :slide_up, :duration => 0.25
      page["insert_step_description_#{@step.id}"].value = ""
      page["insert_step_expected_#{@step.id}"].value = ""
    end 
%>
  </div>
<% end %>
<script type="text/javascript">
  new ResizingStep("insert_step_description_<%=@step.id%>",
                   "insert_step_expected_<%=@step.id%>");
</script>
</div>
