<%= form_for([@scenario, Step.new], 
     :remote => true, 
     :html => {:style => "display:none; margin:4px;"}) do |f| %>
  <div>
    <span class="step-number">&nbsp;</span>
    <%= f.text_area :description %>
    <%= f.text_area :expected %>
  </div>
<span id="wiki-note">
  Steps and setups use <%=link_to('Textile', '/textile.pdf')%> wiki syntax.
</span>
  <div>
    <span class="step-number">&nbsp;</span>
    <%= submit_tag 'Add this step', :class => "button" %>
    or 
    <a href="#" onclick="closeNewStep(); return false;">Close</a>
    <script type="text/javascript">
      function closeNewStep() {
        $("#new_step").slideUp(250);
        $("#add-step").show();
        $("#step_description").val("");
        $("#step_expected").val("");
      }
    </script>
  </div>
<% end %>
<script type="text/javascript">
  new ResizingStep('step_description', 'step_expected');
</script>
