<% remote_form_for([@scenario, Step.new], 
     :html => {:style => "display:none; margin:4px;"}) do |f| %>
  <div>
    <span class="step-number">&nbsp;</span>
    <%= f.text_area :description %>
    <%= f.text_area :expected %>
  </div>
<span id="wiki-note">
  Steps and setups use <%=link_to('Textile', '/textile.pdf')%> wiki syntax.
</span>
  <div>
    <span class="step-number">&nbsp;</span>
    <%= submit_tag 'Add this step', :class => "button" %>
    or 
<%= 
    link_to_function('Close') do |page|
      page["new_step"].visual_effect :slide_up, :duration => 0.25
      page["add-step"].visual_effect :appear
      page["step_description"].value = ""
      page["step_expected"].value = ""
    end 
%>
  </div>
<% end %>
