<div class="big-text" style="text-align:center;border-bottom:1px solid #99f;">
  <%= @scenario.plan.percent_tested %>%</div>
<br/>

<span style="font-weight:bold;">
  <%= truncate(h(@scenario.feature.name), 35) %>
</span><br/>
<% for scenario in @scenario.feature.scenarios %>
  <% if scenario.id == @scenario.id %>
<div style="background:#eee;padding:5px">
  <span class="<%= result_class(scenario.result) %>">
    <%=truncate(h(scenario.name), 25)%>
  </span><br/>
  <div align="center">
    <%= link_to_remote 'Pass',
        :url => scenario_result_path(:result => Scenario::RESULT_PASSED),
        :method => :put,
        :html => { :class => "small-link pass-link" } %>
    <%= link_to_remote 'Fail',
        :url => scenario_result_path(:result => Scenario::RESULT_FAILED),
        :method => :put,
        :html => { :class => "small-link fail-link" } %>
    <%= link_to_remote 'Untested',
        :url => scenario_result_path(:result => Scenario::RESULT_UNTESTED),
        :method => :put,
        :html => { :class => "small-link clear-link" } %>
  </div>
</div>
  <% else %>
    <%= link_to(truncate(h(scenario.name), 25), 
          scenario_steps_path(scenario),
          :class => result_class(scenario.result)) %>
    <br/>
  <% end %>
<% end %>
<br/>

<% complete_features, incomplete_features = scenario.plan.features_tested %>
<% if incomplete_features.size > 0 %>
  <div class="medium-text">Incomplete</div>
<% end %>
<% for feature in incomplete_features %>
  <% if feature.id != @scenario.feature.id %>
    <% if feature.scenarios.size > 0 %>
      <%= link_to(truncate(h(feature.name), 35), 
            scenario_steps_path(feature.scenarios[0]), 
            :style => "font-weight:bold;") %>
      <div style="height:5px;"></div>
    <% end %>
  <% else %>
    <span style="font-weight:bold"><%=truncate(h(feature.name),35)%></span>
    <div style="height:5px;"></div>
  <% end %>
<% end %>

<% if complete_features.size > 0 %>
  <div class="medium-text">Complete</div>
<% end %>
<% for feature in complete_features %>
  <% if feature.id != @scenario.feature.id %>
    <% if feature.scenarios.size > 0 %>
      <%= link_to(truncate(h(feature.name),25), scenario_steps_path(feature.scenarios[0]), 
            :style => "font-weight:bold;") %>
      <div style="height:5px;"></div>
    <% end %>
  <% else %>
    <span style="font-weight:bold"><%=truncate(h(feature.name),35)%></span>
    <div style="height:5px;"></div>
  <% end %>
<% end %>
