<div id="percent-tested" class="big-text">
  <%= @scenario.plan.percent_tested %>%</div>
<br/>

<span class="bold">
  <%= tesc(@scenario.feature.name, 35) %>
</span><br/>
<% for scenario in @scenario.feature.scenarios %>
  <% if scenario.id == @scenario.id %>
<div id="scenario-under-test">
  <span class="<%= result_class(scenario.result) %>">
    <%=tesc(scenario.name, 30)%>
  </span><br/>
  <div style="text-align:center;">
    <%= link_to_remote 'Complete',
        :url => scenario_result_path(@scenario, :result => Scenario::RESULT_COMPLETE),
        :method => :put,
        :html => { :class => "small icon tick" } %>
    <%= link_to_remote 'Untested',
        :url => scenario_result_path(@scenario, :result => Scenario::RESULT_UNTESTED),
        :method => :put,
        :html => { :class => "small icon page" } %>
  </div>
</div>
  <% else %>
    <div <%=warn_if_recent_update(scenario)%>>
    <%= link_to(tesc(scenario.name, 30), 
          scenario_steps_path(scenario),
          :class => result_class(scenario.result)) %>
    </div>
  <% end %>
<% end %>
<br/>

<% complete_features, incomplete_features = scenario.plan.features_tested %>
<% if incomplete_features.size > 0 %>
  <div class="medium-text">Incomplete</div>
<% end %>
<% for feature in incomplete_features %>
  <% if feature.id != @scenario.feature.id %>
    <% if feature.scenarios.size > 0 %>
      <%= link_to(tesc(feature.name, 35), 
            scenario_steps_path(feature.scenarios[0]), 
            :class => "bold") %>
      <div style="height:5px;"></div>
    <% end %>
  <% else %>
    <span class="bold"><%=tesc(feature.name,35)%></span>
    <div style="height:5px;"></div>
  <% end %>
<% end %>

<% if complete_features.size > 0 %>
  <div class="medium-text">Complete</div>
<% end %>
<% for feature in complete_features %>
  <% if feature.id != @scenario.feature.id %>
    <% if feature.scenarios.size > 0 %>
      <%= link_to(tesc(feature.name,25), scenario_steps_path(feature.scenarios[0]), 
            :class => "bold") %>
      <div style="height:5px;"></div>
    <% end %>
  <% else %>
    <span class="bold"><%=tesc(feature.name,35)%></span>
    <div style="height:5px;"></div>
  <% end %>
<% end %>
