<div class="big-text" style="text-align:center;border-bottom:1px solid #99f;">42%</div>
<br/>

<span style="font-weight:bold;"><%= @scenario.feature.name %></span><br/>
<% for scenario in @scenario.feature.scenarios %>
  <% if scenario.id == @scenario.id %>
<div style="background:#eee;padding:5px">
  <span class="<%= result_class(scenario.result) %>">
    <%=truncate(scenario.name,25)%>
  </span><br/>
  <div align="center">
    <%= link_to_remote 'Pass',
        :url => scenario_result_path(:result => Scenario::RESULT_PASSED),
        :method => :put,
        :html => { :class => "small-link pass-link" } %>
    <%= link_to_remote 'Fail',
        :url => scenario_result_path(:result => Scenario::RESULT_FAILED),
        :method => :put,
        :html => { :class => "small-link fail-link" } %>
    <%= link_to_remote 'Untested',
        :url => scenario_result_path(:result => Scenario::RESULT_UNTESTED),
        :method => :put,
        :html => { :class => "small-link clear-link" } %>
  </div>
</div>
  <% else %>
    <%= link_to(truncate(scenario.name,25), 
          scenario_steps_path(scenario), :class => "pass-link") %>
    <br/>
  <% end %>
<% end %>
<br/>

<div class="medium-text">Incomplete:</div>
<% for feature in scenario.feature.plan.features.name_sorted %>
  <% if feature.id != @scenario.feature.id %>
    <% if feature.scenarios.size > 0 %>
      <%= link_to(feature.name, scenario_steps_path(feature.scenarios[0]), 
            :style => "font-weight:bold;") %>
      <div style="height:5px;"></div>
    <% end %>
  <% end %>
<% end %>

<div class="medium-text">Complete</div>
<% for feature in scenario.feature.plan.features.name_sorted %>
  <% if feature.id != @scenario.feature.id %>
    <% if feature.scenarios.size > 0 %>
      <%= link_to(feature.name, scenario_steps_path(feature.scenarios[0]), 
            :style => "font-weight:bold;") %>
      <div style="height:5px;"></div>
    <% end %>
  <% end %>
<% end %>
