      <span class="step-number">
          <%= @step.position%>.
      </span>
      <span class="editable-content" id="description_<%=@step.id%>">
        <%=textilize_without_paragraph(@step.description)%>
      </span>
      <span class="editable-content" id="expected_<%=@step.id%>">
            <%=textilize_without_paragraph(@step.expected)%>
      </span>
      <span class="step-controls">
        <%= link_to_remote('Edit', 
              :url => edit_step_path(@step),
              :html => {:class => "small-link rename-link"},
              :method => :get) %>
        &nbsp;&nbsp;
        <%= link_to_remote('Delete', 
              :url => step_path(@step),
              :html => {:class => "small-link delete-link"},
              :method => :delete) %>
      </span>
