      <span class="step-number">
        <%= @step.position%>.
      </span>
      <span class="editable-content content-border" id="description_<%=@step.id%>">
        <%= hl_if_query(safe_textilize(@step.description))%>
      </span>
      <span class="editable-content" id="expected_<%=@step.id%>">
        <%= hl_if_query(safe_textilize(@step.expected))%>
      </span>
      <span class="step-controls">
        <%= link_to('Edit',
              edit_step_path(@step),
              :class => "small icon pencil",
              :method => :get,
              :remote => true) %>
        &nbsp;
        <%= link_to_function('Copy', :class => "small icon copy") do |page|
              page["insert_step_description_#{@step.id}"].value = @step.description
              page["insert_step_expected_#{@step.id}"].value = @step.expected
              page["insert_step_#{@step.id}"].visual_effect :slide_down, :duration => 0.25
            end %>
        <%= link_to_function('Insert', :class => "small icon plus") do |page|
              page["insert_step_description_#{@step.id}"].value = ""
              page["insert_step_expected_#{@step.id}"].value = ""
              page["insert_step_#{@step.id}"].visual_effect :slide_down, :duration => 0.25
            end %>
        &nbsp;
        <%= link_to('Delete',
              step_path(@step),
              :class => "small icon minus",
              :method => :delete,
              :remote => true) %>
      </span>
      <%= render :partial => 'steps/insert_step'-%>
