      <span class="step-number">
        <%= @step.position%>.
      </span>
      <span class="editable-content" id="description_<%=@step.id%>" style="border-right:1px solid #ccc">
        <%=textilize(h(@step.description))%>
      </span>
      <span class="editable-content" id="expected_<%=@step.id%>">
        <%=textilize(h(@step.expected))%>
      </span>
      <span class="step-controls">
        <%= link_to_remote('Edit', 
              :url => edit_step_path(@step),
              :html => {:class => "small-link rename-link"},
              :method => :get) %>
        &nbsp;
        <%= link_to_function('Copy', :class => "small-link copy-link") do |page|
              page["step_description"].value = @step.description
              page["step_expected"].value = @step.expected
              page["new_step"].visual_effect :slide_down, :duration => 0.25
              page["add-step"].hide
            end %>
        &nbsp;
        <%= link_to_remote('Delete', 
              :url => step_path(@step),
              :html => {:class => "small-link delete-link"},
              :method => :delete) %>
      </span>
