      <span class="step-number">
        <%= @step.position%>.
      </span>
      <span class="editable-content content-border" id="description_<%=@step.id%>">
        <%= hl_if_query(safe_textilize(@step.description))%>
      </span>
      <span class="editable-content" id="expected_<%=@step.id%>">
        <%= hl_if_query(safe_textilize(@step.expected))%>
      </span>
      <span class="step-controls">
        <%= link_to('Edit',
              edit_step_path(@step),
              :class => "small icon pencil",
              :method => :get,
              :remote => true) %>
        &nbsp;
    <a class="small icon copy" href="#" onclick="copyStep<%=@step.id%>(); return false;">Copy</a>
    <script type="text/javascript">
      function copyStep<%=@step.id%>() {
        $("#insert_step_description_<%=@step.id%>").val("<%=escape_javascript(@step.description)%>");
        $("#insert_step_expected_<%=@step.id%>").val("<%=escape_javascript(@step.expected)%>");
        $("#insert_step_<%=@step.id%>").slideDown(250);
      }
    </script>
    <a class="small icon copy" href="#" onclick="insertStep<%=@step.id%>(); return false;">Insert</a>
    <script type="text/javascript">
      function insertStep<%=@step.id%>() {
        $("#insert_step_description_<%=@step.id%>").val("");
        $("#insert_step_expected_<%=@step.id%>").val("");
        $("#insert_step_<%=@step.id%>").slideDown(250);
      }
    </script>
        &nbsp;
        <%= link_to('Delete',
              step_path(@step),
              :class => "small icon minus",
              :method => :delete,
              :remote => true) %>
      </span>
      <%= render :partial => 'steps/insert_step'-%>
