<ul id="sort_step_list" style="padding:0px">
<% for step in @use_case.steps %>
  <li id="step_<%= step.id %>" style="cursor:move;list-style-type:none;margin-left:0px;">
    <table style="background:#efe;">
      <tr style="background: #eee;">
        <td valign="top" width="20" style="border:1px solid #000; padding:4px;">
          <%= step.position%>.
        </td>
        <td valign="top" width="250" style="border:1px solid #000; padding:4px;">
          <span id="description_<%=step.id%>"><%=textilize_without_paragraph(step.description)%></span>
        </td>
        <td valign="top" width="250" style="border:1px solid #000; padding:4px;">
          <span id="verify_<%=step.id %>"><%=textilize_without_paragraph(step.verify) %></span>
        </td>
        <td>
          <%= link_to_remote 'Delete', :url => step_path(step), 
               :method => :delete %>
          <a href="#" onclick="turnOnEdit();">Edit</a>
        </td>
      </tr>
    </table>
    <script type="text/javascript">
      new Ajax.InPlaceEditor('description_<%=step.id%>', '/demoajaxreturn.html', {rows:10, cols:40});
      new Ajax.InPlaceEditor('verify_<%=step.id%>', '/demoajaxreturn.html', {rows:10,cols:40});
    </script>
  </li>
<% end %>
</ul>
