      <span class="step-number">
          <%= @step.position%>.
      </span>
      <span class="editable-content" id="description_<%=@step.id%>">
        <%=textilize_without_paragraph(@step.description)%>
      </span>
      <span class="editable-content" id="expected_<%=@step.id%>">
            <%=textilize_without_paragraph(@step.expected)%>
      </span>
      <span class="step-controls">
        <%= link_to_remote(image_tag('page_white_edit.png'), 
              :url => edit_step_path(@step),
              :method => :get) %>
        &nbsp;&nbsp;
        <%= link_to_remote(image_tag('delete.png'), 
              :url => step_path(@step),
              :method => :delete) %>
      </span>
