<h1>Editing step</h1>

<% form_for(@step) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :position %><br />
    <%= f.text_field :position %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :verify %><br />
    <%= f.text_area :verify %>
  </p>
  <p>
    <%= f.label :use_case_id %><br />
    <%= f.text_field :use_case_id %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @step %> |
<%= link_to 'Back', steps_path %>
