<% title "#{@scenario.plan.name} - #{@scenario.name}" %>
<% navigation(link_to('Test Plans', plans_path) + " > " + 
              link_to(@scenario.plan.name, plan_scenarios_path(@scenario.plan)) + " > " + 
              link_to(@scenario.feature.name, 
                plan_scenarios_path(@scenario.plan, :anchor => "feature_#{@scenario.feature.id}"))) %>

<% if params[:query] %>
  <span style="float:right">
  <%= link_to "Clear highlight", scenario_steps_path(@scenario) %> 
  </span>
<% end %>

<div id="scenario"> 
  <%= render :partial => "scenarios/scenario_name" %>
</div>

<br/>
<div id="requirement">
  <%= render :partial => "requirements/requirement" %>
</div>
<br/>
<div id="setup">
  <%= render :partial => "setups/setup" %>
</div>
<br/>
&nbsp;&nbsp;<span class="step-number">&nbsp;</span>
<span class="editable-content medium-text">Action</span>
<span class="editable-content medium-text">Expected</span>
  
<div class="step-box">
  <div id="step-list">
    <%= render :partial => 'steps/step_list'-%>
  </div>
  <div id="add-step">
    <%= render :partial => 'steps/add_step'-%>
  </div>
  <%= render :partial => 'steps/new_step'-%>
</div>
<br/>

<% footer(
     link_to('Duplicate', duplicate_scenario_path(@scenario), :method => :post),
     link_to('PDF', scenario_steps_path(@scenario, :format => :pdf)),
     link_to('Delete this scenario', @scenario, :confirm => 'Are you sure?', :method => :delete)
) %> 
