<% title "#{@scenario.plan.name} - #{@scenario.name}" %>
<% navigation(link_to('Test Plans', plans_path) + " > " + link_to(@scenario.plan.name, plan_scenarios_path(@scenario.plan))) %>

<div id="scenario"> 
  <%= render :partial => "scenarios/scenario_name" %>
</div>

<br/>
<div id="setup">
  <% if @scenario.setup.nil? %>
    <%= render :partial => "setups/add_setup" %>
  <% else %>
    <%= render :partial => "setups/setup" %>
  <% end %>
</div>
<br/>
&nbsp;&nbsp;<span class="step-number">&nbsp;</span>
<span class="editable-content" style="font-weight:bold">Action</span>
<span class="editable-content" style="font-weight:bold">Expected</span>
  
<div class="step-box">
  <div id="step_list">
    <%= render :partial => 'steps/step_list'-%>
  </div>
  <div id="add-step">
    <%= render :partial => 'steps/add_step'-%>
  </div>
  <%= render :partial => 'steps/new_step'-%>
</div>
<br/>

<% footer(link_to('Delete scenario', @scenario, :confirm => 'Are you sure?', :method => :delete)) %> 
