<% title "#{@scenario.plan.name} - #{@scenario.name}" %>

<div id="scenario_name" class="big-text"> 
  <%= render :partial => "scenarios/scenario_name" %>
</div>
<%= link_to 'Test Plans', plans_path %>
> <%= link_to @scenario.plan.name, plan_scenarios_path(@scenario.plan) %>

<br/><br/>
<div id="setup">
  <% if @scenario.setup.nil? %>
    <%= render :partial => "setups/add_setup" %>
  <% else %>
    <%= render :partial => "setups/setup" %>
  <% end %>
</div>
<%= render :partial => "setups/new_setup" %>
<br/>
&nbsp;&nbsp;<span class="step-number">&nbsp;</span>
<span style="font-size:16px;font-weight:bold;border:0px;" class="editable-content">Action</span>
<span style="font-size:16px;font-weight:bold;border:0px;" class="editable-content">Expected</span>
<div id="step_list">
  <%= render :partial => 'step_list' %>
</div>
<br/>

<div id="add_step">
  <%= render :partial => 'add_step' %>
</div>
<br/>

<% footer(link_to('Delete scenario', @scenario, :confirm => 'Are you sure?', :method => :delete)) %> 
