<% title "#{@scenario.plan.name} - #{@scenario.name}" %>

<div id="scenario_name" style="font-size:18px;font-weight:bold;"> 
  <%= render :partial => "scenarios/scenario_name" %>
</div>
<%= link_to 'Test Plans', plans_path %>
> <%= link_to @scenario.plan.name, plan_scenarios_path(@scenario.plan) %>

<br/><br/>
<div id="scenario_setup" style="font-size:16px;">
  <%= render :partial => 'scenarios/scenario_setup' %>
</div>
<br/>
<div id="step_list">
  <%= render :partial => 'step_list' %>
</div>
<br/>

<div id="add_step">
  <%= render :partial => 'add_step' %>
</div>
<br/>

<%= link_to 'Delete Scenario', @scenario, :confirm => 'Are you sure?', :method => :delete %>
