<div id="scenario_name" style="font-size:18px;font-weight:bold;"> 
  <%= render :partial => "scenarios/scenario_name" %>
</div>
<%= link_to 'Test Plans', plans_path %>
> <%= link_to @scenario.plan.name, plan_scenarios_path(@scenario.plan) %>

<br/><br/>
<div id="step_list">
  <%= render :partial => 'step_list' %>
</div>
<br/>

<%= sortable_element 'sort_step_list',
      :url => update_step_order_scenario_path(@scenario), 
      :method => :put %>

<div id="add_step">
  <%= render :partial => 'add_step' %>
</div>


<%= link_to 'Delete Scenario', @scenario, :confirm => 'Are you sure?', :method => :delete %>
