<% for @feature in @plan.features %>
<div id="feature_box_<%=@feature.id%>" class="feature_box">
  <div id="feature_<%=@feature.id%>" class="feature">
    <span id="feature_<%=@feature.id%>_name">
      <%= render :partial => "features/feature_name" %>
    </span>
    <%= link_to_remote(image_tag('delete.png'),
          :url => feature_path(@feature, :plan_id => @plan.id), 
          :method => :delete) %>
  </div>
  <% for scenario in @feature.scenarios %>
    <div id="scenario_<%=scenario.id%>" class="scenario">
      <%=scenario.name%> <%= link_to "Edit", scenario_steps_path(scenario)%>
    </div>
  <% end %>  
</div>
<div>&nbsp;</div>
<% end %>

<% feature_scenario_list_array =  @plan.features.collect{|feature| "feature_box_#{feature.id}"}%>
<% for @feature in @plan.features %>
  <%= sortable_element "feature_box_#{@feature.id}",
        :tag => "div",
        :only => "scenario",
        :scroll => "window", 
        :containment => feature_scenario_list_array, 
        :dropOnEmpty => true,
        :url => update_scenario_order_feature_path(@feature),
        :method => :put %>
<% end %>
