<% for feature in @plan.features %>
  <div id="feature_<%=feature.id%>" style="font-size:16px;font-weight:bold;background:#66F;">
    &nbsp;&nbsp;<%= feature.name %>
  </div>
  <%= drop_receiving_element "feature_#{feature.id}",
       :with => "'scenario=' + (element.id.split('_').last())",
       :url => {:controller => :scenarios, :action => :update, 
         :feature_id => feature.id, :plan_id => @plan.id},
       :method => :put %>
  <% for scenario in feature.scenarios %>
    <div id="scenario_<%=scenario.id%>" style="cursor:move;">
      <%=scenario.name%> <%= link_to "Edit", scenario_path(scenario)%>
    </div>
    <%= draggable_element "scenario_#{scenario.id}", :revert => true %>
  <% end %>  
  <div>&nbsp;</div>
<% end %>
<div id="feature_none" style="font-size:16px;font-weight:bold;background:#66F">
&nbsp;&nbsp;No Feature<br/>
</div>
<%= drop_receiving_element "feature_none",
       :with => "'scenario=' + (element.id.split('_').last())",
       :url => {:controller => :scenarios, :action => :update, 
         :feature_id => 0, :plan_id => @plan.id},
       :method => :put %>
<% for scenario in @plan.scenarios %>
  <% if scenario.feature_id.nil? || scenario.feature_id == 0%>
  <div id="scenario_<%=scenario.id%>" style="cursor:move;">
    <%=scenario.name%>
  </div>
  <%= draggable_element "scenario_#{scenario.id}", :revert => true %>
  <% end %>
<% end %>
