<% for @feature in @plan.features.name_sorted %>
<div id="feature_box_<%=@feature.id%>" class="feature_box">
  <div id="scenario_set_<%=@feature.id%>">
    <%= render :partial => 'scenarios/scenario_set'-%>
  </div>
  <div id="add_scenario_feature_<%= @feature.id %>" style="margin:4px;">
    <%= render :partial => 'scenarios/add_scenario'-%>
  </div>
  <div id="new_scenario_feature_<%= @feature.id %>" style="margin:4px;display:none;">
    <%= render :partial => 'scenarios/new_scenario'-%>
  </div>
</div>
<div id="feature_spacer_<%=@feature.id%>">&nbsp;</div>
<% end %>
