  <%= div_for @feature do %>
    <%= render :partial => "features/feature" %>
  <% end %>
  <% for scenario in @feature.scenarios %>
    <%= div_for scenario do %>
      <div class="scenario-detail">
        <%= link_to(trunk(scenario.name, 67), scenario_steps_path(scenario)) %>
        <br/>
        <span class="grey small-text">
          Updated <%= time_ago_in_words(scenario.updated_at) %> ago.
          <%= trunk(parens(scenario.requirement), 53) %>
        </span>
      </div>
      <div class="scenario-delete">
        <% if scenario.steps.size == 0 %>
          <%= link_to('Delete',
                scenario_path(scenario),
                :class => "small icon minus",
                :method => :delete,
                :remote => true) %>
        <% end %>
      </div>
      <div class="handle"
            onmouseover="$('#scenario_<%=scenario.id%>').addClass('active')"
            onmouseout="$('#scenario_<%=scenario.id%>').removeClass('active')" >
        <%= image_tag 'arrow_nsew.png', :class => "handle-image" %>
      </div>
    <% end %>
  <% end %>
  <script type="text/javascript">
    $(function() {
        $("#scenario_set_<%=@feature.id%>").sortable({ 
          items: '.scenario',
          connectWith: '.connectedSortable',
          handle: '.handle', 
          axis: 'y',
          opacity: 0.8,
          containment: "#scenario_list",
          update: function(event, ui) {
            $("#feature_box_<%=@feature.id%>").effect("highlight", null, 1000);
            var order = $('#scenario_set_<%=@feature.id%>').sortable('serialize');
            $.ajax({
              type: 'PUT',
              url: "<%=update_scenario_order_feature_path(@feature)%>",
              data: order
            });
          }
        });
    });
  </script>
