  <% div_for @feature do %>
    <%= render :partial => "features/feature" %>
  <% end %>
  <% for scenario in @feature.scenarios %>
    <% div_for scenario do %>
      <div style="float:right;margin-left:10px;margin-top:8px;width:20px;height:30px;">
        <%= image_tag 'drag_handle.png', :class => "handle" %>
      </div>
      <div style="float:right;width:375px;text-align:left;">
      <%= link_to scenario.name, scenario_steps_path(scenario)%>
      <% if scenario.steps.empty? %>
        <%= link_to_remote('Delete',
              :html => {:class => "small-link delete-link"},
              :url => scenario_path(scenario), 
              :method => :delete) %>
      <% end %>
      <br/>
      <span style="color:#999;" class="small-text">
        Updated <%= time_ago_in_words(scenario.updated_at) %> ago.
      </span>
      </div>
      <br/>
    <% end %>
  <% end %>  
  <%= sortable_element "scenario_set_#{@feature.id}",
        :tag => "div",
        :handle => "handle",
        :only => "scenario",
        :scroll => "window", 
        :containment => false, 
        :dropOnEmpty => true,
        :url => update_scenario_order_feature_path(@feature),
        :method => :put %>
