<div id="plan_name" style="font-size:18px;font-weight:bold;">
  <%= render :partial => "plans/plan_name" %>
</div>

<%= link_to 'Test Plans', plans_path %>

<br/><br/>
<div id="add_scenario">
  <%= render :partial => 'add_scenario'-%>
</div>
<br/>
<div id="add_feature">
  <%= render :partial => 'features/add_feature' -%>
</div>
<br/>
<div id="scenario_list">
  <%= render :partial => 'scenario_list'-%>
</div>
