<h3><%= @scenario.name %></h3>
<%= link_to 'Test Plans', plans_path %>
> <%= link_to @scenario.plan.name, edit_plan_path(@scenario.plan) %>

<div id="step_list">
  <%= render :partial => 'steps/step_list' %>
</div>
<br/>

<%= sortable_element 'sort_step_list',
      :url => update_step_order_scenario_path(@scenario), 
      :method => :put %>

<div id="add_step">
  <%= render :partial => 'steps/add_step' %>
</div>


<%= link_to 'Edit', edit_scenario_path(@scenario) %>
<%= link_to 'Destroy', @scenario, :confirm => 'Are you sure?', :method => :delete %>

<br/><br/>

<% form_for(@scenario) do |f| %>
  <%= f.hidden_field :run_result, {:value => Scenario::PASS_RESULT } %>
  <%= f.submit "Mark Test Passed" %>
<% end %>

<% form_for(@scenario) do |f| %>
  <%= f.hidden_field :run_result, {:value => Scenario::FAIL_RESULT } %>
  <%= f.submit "Mark Test Failed" %>
<% end %>
