<tbody>
<% if @plans.count == 0 %>
  <tr class="plan medium-text" align="center" style="padding-top:20px;">
    <td>Get started by adding a Test Plan!</td>
  </tr>
<% end %>

<% for plan in @plans %>
  <%= content_tag_for(:tr, plan) do %>
      <td class="plan-detail">
        <%= link_to(plan.name, plan_scenarios_path(plan)) %>
        <br/>
        <span class="small-text grey">
          <%= pluralize(plan.features.count, 'Feature') %>,
          <%= pluralize(plan.scenarios.count, 'Scenario') %>,
          <%= pluralize(plan.step_count, 'Step') %>
        </span>
      </td>
      <td class="plan-controls">
        <% if plan.features.count == 0 %>
        <%= link_to 'Delete',
              plan_path(plan),
              :class => "small icon minus",
              :method => :delete, 
              :remote => true %>
        <% end %>
        <%= link_to 'Search', search_plan_path(plan), :class => "small" %>
        <%= link_to 'HTML', plan, :class => "small" %>
      </td>
  <% end %>
<% end %>
</tbody>
