<% if @plans.size == 0 %>
  <div class="plan medium-text" align="center" style="padding-top:20px;">
    Get started by adding a Test Plan!
  </div>
<% end %>
<% for plan in @plans %>
  <% div_for plan, :id => "plan_#{plan.id}" do %>
      <div class="plan-controls">
        <% if plan.features.size == 0 %>
        <%= link_to_remote 'Delete',
              :html => {:class => "small icon minus"},
              :url => plan_path(plan),
              :method => :delete %>
        <% end %>

        <%= link_to 'Search', search_plan_path(plan), :class => "small" %>
        <%= link_to 'HTML', plan, :class => "small" %>
      </div>
      <div class="plan-detail">
        <%= link_to(h(plan.name), plan_scenarios_path(plan)) %>
        <br/>
        <span class="small-text grey">
          <%= pluralize(plan.features.count, 'Feature') %>,
          <%= pluralize(plan.scenarios.count, 'Scenario') %>,
          <%= pluralize(plan.step_count, 'Step') %>,
          <% if plan.scenarios.count > 0 %>
            Test Run: <%= plan.percent_tested %>%
          <% end %>
        </span>
      </div>
  <% end %>
<% end %>

