<% if @plans.size == 0 %>
  <div class="plan medium-text" align="center" style="padding-top:20px;">
    Get started by adding a test plan!
  </div>
<% end %>
<% for plan in @plans %>
  <% div_for plan, :id => "plan_#{plan.id}" do %>
      <div style="float:right;margin-left:10px;margin-top:8px;width:150px;height:30px;text-align:right">
        <% if plan.features.count == 0 %>
        <%= link_to_remote 'Delete', 
              :html => {:class => "small-link delete-link"},
              :url => plan_path(plan), 
              :method => :delete %>
        <% else %>
        <%= link_to_remote 'Clear Test Run', 
            :url => clear_results_plan_path(plan), 
            :method => :put,
            :confirm => "Are you sure you want to clear the test results for #{plan.name}?",
            :html => {:class => "small-link"} %>
        <% end %>

        <%= link_to 'Search', search_plan_path(plan), :class => "small-link" %>
        <%= link_to 'HTML', plan, :class => "small-link" %>
      </div>
      <% link_to(plan_scenarios_path(plan),
            :style => "text-decoration:none;",
            :onmouseover => "$('plan_#{plan.id}').addClassName('active')",
            :onmouseout => "$('plan_#{plan.id}').removeClassName('active')") do %> 
      <div style="float:right;width:390px;text-align:left;">
        <%= plan.name %>
        <br/> 
        <span style="color:#999;" class="small-text">
          <%= pluralize(plan.features.count, 'Feature') %>,
          <%= pluralize(plan.scenarios.count, 'Scenario') %>,
          <%= pluralize(plan.step_count, 'Step') %>,
          <% if plan.scenarios.count > 0 %>
            Test Run: <%= plan.percent_tested %>% 
          <% end %>
        </span>
      </div>
      <% end %>
  <% end %>
<% end %>
