<% for plan in @plans %>
  <% div_for plan do %>
    <div class="plan-box">
      <% form_tag(search_plan_path(plan), :method => :get, 
           :style => "float:right;margin-top:2px") do -%>
        <input name="query" type="text"/>
        <%= submit_tag 'Search' %>
      <% end -%>
      <%= plan.name %>
      <br/> 
      <span style="font-size:12px;font-weight:normal;color:#eee;">
      <%= pluralize(plan.features.count, 'Feature') %>,
      <%= pluralize(plan.scenarios.count, 'Scenario') %>,
      <%= pluralize(plan.step_count, 'Step') %>
      </span>
    </div>
    <div class="plan-links"> 
      <%= link_to 'Edit', plan_scenarios_path(plan) %> 
      <% if plan.features.count == 0 %>
        <%= link_to_remote 'Delete', 
              :url => plan_path(plan), 
              :method => :delete %> 
      <% end %>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to 'HTML', plan %>
    </div>
  <% end %>
  <br/>
<% end %>
