<h3>Change Plan Name</h3>

<% form_for(@plan) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @plan %> |
<%= link_to 'Back', plans_path %>
