<% title @plan.name + " - Search" %>
<% navigation(link_to('Test Plans', plans_path) + " > " + link_to(@plan.name, plan_scenarios_path(@plan))) %>
<span class="big-text"><%= @plan.name %></span>

<%= form_tag(search_plan_path(@plan), :method => :get,
     :style => "float:right;") do -%>
  <input name="query" type="text" value="<%=params[:query]%>" />
  <input type="submit" value="Search plan" />
<% end -%>
<br/><br/><br/>
<hr/>

<span style="float:right"><%= @scenarios.size %> Results</span>

<% @scenarios.each do |scenario| %>
  <% if @old_feature != scenario.feature %>
    <div class="medium-text"><%= scenario.feature.name %></div>
    <% @old_feature = scenario.feature %>
  <% end %>
  <%= link_to(highlight(scenario.name, params[:query]), scenario_steps_path(scenario,:query => params[:query]))%>
  <%= highlight(parens(scenario.requirement), params[:query]) %>
  <br/>
  <%= highlight_excerpt(scenario.setup, params[:query]) %>
  <% scenario.steps.each do |step| %>
    <%= highlight_excerpt(step.description, params[:query]) %>
    <%= highlight_excerpt(step.expected, params[:query]) %>
  <% end %>
<div style="height:10px"></div>
<% end %>

<% footer("&nbsp;") %>

