<% title @plan.name %>

<% for @feature in @plan.features %>
  <div style="font-size:18px;color:#9cf;"><%= @feature.name %></div>
  <hr/>
  <br/>

  <% for @scenario in @feature.scenarios %>
    <div style="font-size:18px;color:#99f;padding-right:40px;"><%= @scenario.name %></div>
    <div style="height:5px;">&nbsp;</div>

    <% if !@scenario.setup.nil? and @scenario.setup.size != 0 %>
      <div style="font-size:16px;"><%= @scenario.setup %></div>
      <div style="height:5px;">&nbsp;</div>
    <% end %>

    <% unless @scenario.steps.empty? %> 
      &nbsp;&nbsp;<span class="step-number">&nbsp;</span>
      <span style="font-size:16px;font-weight:bold;border:0px;" class="editable-content">Action</span>
      <span style="font-size:16px;font-weight:bold;border:0px;" class="editable-content">Expected</span>
      <div class="step-box">
      <% for @step in @scenario.steps %>
        <div class="step">
        <span class="step-number">
          <%= @step.position %>
        </span>
        <span class="editable-content" id="description_<%=@step.id%>">
          <%=textilize_without_paragraph(@step.description)%>
        </span>
        <span class="editable-content" id="expected_<%=@step.id%>">
          <%=textilize_without_paragraph(@step.expected)%>
        </span>
        </div>
      <% end %>
      </div>
    <% end %>
    <div style="height:25px;">&nbsp;</div>
  <% end %>
<% end %>
