<h3><%= @plan.name %></h3>
<div class="grid_5 prefix_1">
<%= link_to 'Test Plans', plans_path %>
<%= link_to 'Start Test Run', plan_path(:id => @plan, :start_test_run => true), 
      :method => :put, 
      :confirm => "This will erase any previous test results. Are you sure?" %>
<%= link_to 'Edit Plan', edit_plan_path(@plan) %>
</div>
<div class="grid_6">
  <div id="add_use_case">
    <%= render :partial => 'use_cases/add_use_case' %>
  </div>
  <br/>
  <div id="add_category">
    <%= render :partial => 'categories/add_category' %>
  </div>
</div>
<div class="clear">&nbsp;</div>

<div id="use_case_list">
  <%= render :partial => 'use_cases/use_case_list' %>
</div>
