<% title @plan.name %>
<div class="big-text"><%= @plan.name %></div>
<br/>
<% @plan.features.each do |feature| %>
  <div class="bold"><%= feature.name %></div>
  <ul>
  <% feature.scenarios.each do |scenario| %>
    <li><%= link_to(scenario.name, :anchor => "scenario_#{scenario.id}") %></li>
  <% end %>
  </ul>
<% end %>


<% @plan.features.each do |feature| %>
  <div class="medium-text"><%= feature.name %></div>
  <hr/>

  <% feature.scenarios.each do |scenario| %>
    <div class="medium-text blue">
      <%= scenario.name %>
      <%= parens(scenario.requirement) %>
      <a id="scenario_<%=scenario.id%>"></a>
    </div>
    <div style="height:5px;">&nbsp;</div>

    <% if scenario.setup and scenario.setup.size != 0 %>
      <div><%= safe_textilize(scenario.setup) %></div>
      <div style="height:5px;">&nbsp;</div>
    <% end %>

    <% unless scenario.steps.size == 0 %>
      &nbsp;&nbsp;<span class="step-number">&nbsp;</span>
      <span class="editable-content medium-text">Action</span>
      <span class="editable-content medium-text">Expected</span>
      <div class="step-box">
      <% scenario.steps.each do |step| %>
        <div class="step" style="cursor:text;">
        <span class="step-number">
          <%= step.position %>.
        </span>
        <span class="editable-content content-border" id="description_<%=step.id%>">
          <%=safe_textilize(step.description)%>
        </span>
        <span class="editable-content" id="expected_<%=step.id%>">
          <%=safe_textilize(step.expected)%>
        </span>
        </div>
      <% end %>
      </div>
    <% end %>
    <div style="height:25px;">&nbsp;</div>
  <% end %>
<% end %>

