<% title @plan.name %>
<div class="big-text"><%= @plan.name %></div>
<br/>

<% for @feature in @plan.features %>
  <div class="medium-text"><%= @feature.name %></div>
  <hr/>

  <% for @scenario in @feature.scenarios %>
    <div class="medium-text" style="color:#99f;">
      <%= @scenario.name %>
    <% if @scenario.requirement && @scenario.requirement.size > 0 %>
      <%= "(" + @scenario.requirement + ")"%>
    <% end %>
    </div>
    <div style="height:5px;">&nbsp;</div>

    <% if !@scenario.setup.nil? and @scenario.setup.size != 0 %>
      <div><%= textilize_without_paragraph(@scenario.setup) %></div>
      <div style="height:5px;">&nbsp;</div>
    <% end %>

    <% unless @scenario.steps.empty? %> 
      &nbsp;&nbsp;<span class="step-number">&nbsp;</span>
      <span class="editable-content medium-text">Action</span>
      <span class="editable-content medium-text">Expected</span>
      <div class="step-box">
      <% for @step in @scenario.steps %>
        <div class="step" style="cursor:text;>
        <span class="step-number">
          <%= @step.position %>.
        </span>
        <span class="editable-content" id="description_<%=@step.id%>" style="border-right:1px solid #ccc">
          <%=textilize_without_paragraph(@step.description)%>
        </span>
        <span class="editable-content" id="expected_<%=@step.id%>">
          <%=textilize_without_paragraph(@step.expected)%>
        </span>
        </div>
      <% end %>
      </div>
    <% end %>
    <div style="height:25px;">&nbsp;</div>
  <% end %>
<% end %>
