<div id="plan_name" style="font-size:18px;font-weight:bold;">
  <%= @plan.name %>
</div>

<% for @feature in @plan.features %>
  <h2><%= @feature.name %></h2>

  <% for @scenario in @feature.scenarios %>
    <h4><%= @scenario.name %></h4>
    
   <table>
    <% for @step in @scenario.steps %>
      <tr>
        <td><%=@step.position%></td>
        <td style="width:250px;">
          <%= textilize_without_paragraph(@step.description)%>
        </td>
        <td style="width:250px;">
          <%= textilize_without_paragraph(@step.expected)%>
        </td>
      </tr>
    <% end %>
    </table>
  <% end %>
<% end %>
