<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= yield(:title) %></title>
  <link rel="shortcut icon" href="/favicon.ico"/>
  <link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection"/>
  <!--[if IE]> <link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"/> <![endif]-->
  <%= stylesheet_link_tag "funk", :cache => true %>
  <%= javascript_include_tag :defaults %>
</head>
<body>
<br/>

<div class="container">
  <div id="hd" class="span-16 prepend-1 append-1 last">
    <%= yield :navigation %>
  </div>

  <div id="bd" class="span-16 prepend-1">
    <%= yield  %>
  </div>
  <div id="sidebar" class="span-6 last" style="background:#fff;padding:10px;height:483px;overflow:auto;">
    <%= render :partial => "steps/sidebar" %>
  </div>
  <div id="ft" class="span-16 prepend-1 append-1 last">
    <%= yield :footer %>
  </div>
</div>

</body>
</html>
